config FS_VFS
    bool "Enable VFS"
    default y

    help
      Answer Y to enable LiteOS support virtual filesystem.

config FS_VFS_BLOCK_DEVICE
    bool "Enable Block DEVICE"
    default n
    depends on FS_VFS
    help
      Answer Y to enable LiteOS support read/open/seek/write block device.

config FILE_MODE
    bool "Enable FILE MODE"
    default y
    depends on FS_VFS
    help
      Answer Y to enable LiteOS support file mode.
