# Verification<a name="EN-US_TOPIC_0000001054370931"></a>

For details about the compilation and burning processes, see  [Compiling Source Code](../quick-start/developing-the-first-example-program-running-on-hi3861.md#section1736014117148)  and  [Burning Images](../quick-start/developing-the-first-example-program-running-on-hi3861.md#section1610612214150)  in the  _Getting Started with Hi3861_.

After the preceding two steps are complete, press the  **RST**  button to reset the module. The LED blinks periodically, which meets the expectation. The verification is complete.

**Figure  1**  LED blinking<a name="fig20768175218527"></a>  
![](figures/led-blinking.gif "led-blinking")

